* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 94%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent {
    background-color: hsl(0, 100%, 100%);
    height: 450px;
    width: 600px;
    border-radius: 15px;
    border-bottom-right-radius: 200px;
}

.inputs {
    display: flex;
    gap: 20px;
    justify-content: left;
    margin-top: 40px;
    margin-left: 30px;
}
    
.inputs label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: sans-serif;
    color: #555;
    font-size: 10px;
}

.inputs input {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
    width: 100px;
    height: 50px;
}

.h1 {
    color: black;
    width: 500px;
    height: 270px;
}

span {
    color:  hsl(259, 100%, 65%);
}

.h1 h1 {
    font-size: 70px;
    position: relative;
    top: 60px;
    left: 40px;
}

p {
    color: hsl(0, 0%, 86%);
    position: relative;
    top: 80px;
    right: 350px;
}

img {
    background-color: hsl(259, 100%, 65%);
    width: 90px;
    height: 70px;
    border-radius: 50px;
    position: relative;
    right: 400px;
    top: 58px;
}


