h1 {
    color: rgb(53, 190, 186);
   
}

#niangi {
    font-size: 20px;
    color: rgb(75, 196, 45);
}

#krakadili {
    font-size: 20px;
    color: rgb(191, 34, 186);
}

#nodara {
    font-size: 20px;
    color: darkgreen;
}

#zurabachan {
    font-size: 20px;
    color: darkorchid;
}
#guramiko {
    font-size: 20px;
    color: deeppink;
}

.shavlegi {
    font-size: 20px;
    color: deeppink;
}

.mamuka {
    font-size: 20px;
    color: blueviolet;
}

.tengiza {
    font-size: 20px;
    color: darkmagenta;
}

.shavikaci {
    font-size: 20px;
    color: blue;
}

.tetrikaci {
    font-size: 20px;
    color: forestgreen;
}

.parent-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.child-paragraph {
    text-align: center;
    background-color: rgb(255, 132, 216); 
    color: white;
}
