
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    background-color:  hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}
.parent {
    width: 300px;
    height: 490px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;

}
.parent img {
    border-radius: 10px;
    margin-left: 27px;
    margin-top:  20px;
    width: 250px;
    height: 240px;
}
.parent #p1 {
    width: 190px;
    padding-bottom: 3px;
    font-size: 20px;
    color: white;
    margin-left: 30px;
}
.parent #p2 {
    position: relative;
    left: 30px;
    bottom: 14px;
    width: 250px;
    color: rgb(125, 134, 184);
    font-size: 12px;
}
.parent #p3 {
    width: 80px;
    color: aqua;
    position: relative;
    left: 25px;
    bottom: 7px;
    font-size: 13px;
}
.parent #p4 {
    color: rgb(125, 134, 184);
    font-size: 13px;
    position: relative;
    left: 190px;
    bottom: 40px;
    
}
.parent #p5 {
    color: rgb(84, 95, 157);
    font-family: none;
    position: relative;
    bottom: 50px;
    left: 29px;
}
.parent #img1 {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 70px;
    border-radius: 90px;
    border: white 1px solid;
}
span {
    color: rgb(125, 134, 184);

}
.parent #p6 {
    color: white;
    font-size: 11px;
    position: relative;
    bottom: 112px;
    left: 76px;
}
























