body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f8ff;
  }
  
  header {
    background-color: #4a148c;
    color: white;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    color: #333;
  }
  