
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');







body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-family: Poppins;

}

.mainDiv {
    background-color: hsl(0, 0%, 13%);
    width: 250px;
    height: 430px;
    border-radius: 10px;
}

.mainDiv img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-top: 30px;
}
 h3{
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 15px;
    

}
#p2 {
    font-size: 10px;
    color: hsl(75, 94%, 57%);
    text-align: center;
    position: relative;
    bottom: 20px

}
.mainDiv {
    font-size: 10px;
    text-align: center;
    color: rgb(168, 168, 168);
}
.mainDiv button {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    left: 25px;
    width: 200px;
    height: 30px;
    color: white;
    background-color:  hsl(0, 0%, 20%);
    font-size: 10px;
    border: none;
    text-align: center;
    margin-top: 8px;
    padding-top: 8px;
    transition: 0.8s;

    

}
button:hover {
    background-color: hsl(75, 94%, 57%);
    transition: 0.8s;
}

