
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    background-color: hsl(204, 43%, 93%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}
.parent {
    background-color: white;
    width: 590px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.for {
    height: 1px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 210px;
    left: 280px;

}
#p1{
    color:  hsl(179, 59%, 48%);
    font-size: 20px;
}
#p2 {
    width: 400px;
    color:  hsl(71, 73%, 54%);
}
#p3 {
    width: 500px;
    font-size: 13px;
    color: grey;
}
.child1 {
    background-color: hsl(179, 59%, 48%);
    position: relative;
    top: 130px;
    right: 237px;
    height: 200px;
    width: 310px;
    
    
}

h3 {
    color: white;
    width: 400px;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 16px;
    
}

h2 {
    color: hsl(0, 0%, 100%);
    margin-left: 30px;
}
span {
    color: hsla(179, 72%, 53%, 0.551);
    font-size: 13px;
}
#access {
    color: white;
    font-size: 13px;
    margin-left: 30px;
    position: relative;
    bottom: 15px;
}
button {
    position: relative;
    left: 30px;
    bottom: 10px;
    width: 190px;
    height: 35px;
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 10px;
    color: white;

}





.child2 {
    padding-left: 10px;
    font-size: 15px;
    background-color: hsl(179, 68%, 57%);
    height: 200px;
    width: 400px;
    position: relative;
    top: 130px;
    right: 300px;
    color: hsla(179, 65%, 45%, 0.858);
    







    
}

#p6 {
    color: white;
    width: 300px;
    font-size: 15px;
}


#p7 {
    color: white;
}














