body { 
    background-color: rgb(255, 120, 224);
}
p { 
    font-size: 70px;
    color:rgb(255, 0, 144);
    background-color: rgb(255, 158, 232);
    border: 7px solid rgb(255, 255, 255);
    text-align: center;
    font-family: cursive;
}