#red {
    color: rgb(255, 0, 0);
    background-color: #ff0000;
}
#blue {
    color: rgb(0, 0, 255);
    background-color: #0000ff;
}
#green {
    color: rgb(0, 255, 0);
    background-color: #00ff00;
}
#pink {
    color: rgb(255, 0, 200);
    background-color: #ff00ff;
}
#yellow {
    color: rgb(255, 255, 0);
    background-color: #ffff00;
}
#teal {
    color: rgb(0, 255, 255);
    background-color: #00ffff;
}
